<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <!--<connectionStrings>
    <add name="IAPL.Transport.Properties.Settings.InterfaceConnectionString"
      connectionString="Data Source=172.16.26.35;Initial Catalog=Interface;Persist Security Info=True;User ID=interfaceuser;Password=intp@ss!1"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <appSettings>
    <!-- BEGIN 20160216 MONOFRE -->
    <!-- 
      By default, ServerID is 1.
      For multiple instance increament ServerID by 1
      Ex.           
          <add key="ServerID" value="2"/>              
    -->
    <add key="ServerID" value="1"/>
    <!-- END 20160216 MONOFRE -->
    <!-- BEGIN SR#33117 Ccenriquez / Capad November 5, 2009 -->
    <add key="RequeueFolder" value="requeue"/>
    <add key="SuspendedFolder" value="suspended"/>
    <add key="RequeueMaxResendAttempt" value="3"/>
    <add key="RequeueResendDelay" value="60000"/>
    <!-- END SR#33117 Ccenriquez / Capad November 5, 2009 -->
    <add key="LogPath" value="c:\iapl_log"/>
    <!-- <add key="processinterval" value="100000" /> -->
    <add key="processinterval" value="10000"/>
    <!--LENIN - ISG11957 - ADD - 11-27-2007-->
    <add key="tempfolderforzip" value="temp"/>
    <!-- Alrazen Estrella | ISG12152 | 07/28/08 -->
    <add key="tempzipfolder" value="tempZip"/>
    <!-- Alrazen Estrella | ISG12043 | 09/24/08 -->
    <add key="failedtouploadfolder" value="IMSSendFailed"/>
    <add key="IncompleteFolder" value="IMSIncomplete"/>
    <add key="IMSFileExt" value="ZIP"/>
    <add key="IMSLogExt" value="LOG"/>
    <add key="IMSTerminatorExt" value="ZZZ"/>
    <add key="FTPPort" value="21"/>
    <add key="FTPDelayPerFile" value="false"/>
    <add key="pingservername" value="FTP Tool"/>
    <add key="pingserverport" value="9988"/>
    <add key="privatekey" value="Gpp!N+3rf@c3"/>
    <!--<add key="emailnotificationsmtp" value="192.168.11.28" />-->
    <add key="emailnotificationsmtp" value="172.16.60.26"/>
    <!--<add key="emailnotificationsmtp" value="192.168.11.5" />-->
    <!--<add key="emailnotificationsmtp" value="smtp.smartbro.net" />-->
    <add key="emailnotificationmessagecode" value="TECHNICAL_NOTIFICATION"/>
    <add key="emailnotificationerp" value="IAPL"/>
    <!-- valie value of appmode: debug/release/console -->
    <add key="appmode" value="debug"/>
    <!-- valie value of errorshowonconsole: yes/no -->
    <add key="errorshowonconsole" value="no"/>
    <add key="showsettings" value="yes"/>
    <!--<add key="DBConnectionString" value="Data Source=192.168.26.56;Initial Catalog=Interface;User ID=interfaceuser;Password=intp@ss!1" />-->
    <!-- QA Machine -->
    <add key="DBConnectionString" value="Data Source=SGISGARXTSTDB;Initial Catalog=GPPInterface;User ID=testsa;Password=ewanko"/>
    <!--<add key="DBConnectionString" value="Data Source=172.16.26.35;Initial Catalog=Interface;User ID=interfaceuser;Password=intp@ss!1" />-->
    <!-- Jun's Server -->
    <!-- <add key="DBConnectionString" value="Data Source=192.168.11.50;Initial Catalog=Interface;User ID=interfaceuser;Password=intp@ss!1" />-->
    <!-- Local Setting -->
    <!--<add key="DBConnectionString" value="Data Source=localhost;Initial Catalog=Interface_v1_4;User ID=ace;Password=123456" />-->
    <!--<add key="DBConnectionString" value="Persist Security Info=False;User ID=interfaceuser;password=intp@ss!1;Initial Catalog=Interface;Data Source=192.168.70.35"/>-->
    <!-- day/week/month -->
    <add key="logdurationtype" value="day"/>
    <!-- number of days/weeks/months -->
    <add key="logduration" value="2"/>
    <!-- NOTE: timeframestart and timeframeend should be on the same date -->
    <add key="timeframestart" value="12:00 AM"/>
    <add key="timeframeend" value="11:59 PM"/>
    <add key="environment" value=""/>
    <!-- <add key="environment" value="DEV"/> -->
    <add key="transferdelay" value="1000"/>
    <!-- Max number of attempt to retry on failed transfer to destination server -->
    <add key="maxattemptonfailed" value="1"/>
    <!-- passivetype: yes - means in ftp client PASSIVE mode / no - means in ftp client ACTIVE mode -->
    <add key="passivetype" value="yes"/>
    <add key="ftptimeout" value="300000"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <!--
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=localhost;Initial Catalog=Gerald;User ID=hero;Password=hero123" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <!-- MNTORRES 09/16/2016 : Added configuration for .NET Framework 4.5 support (START) -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <!-- MNTORRES 09/16/2016 : Added configuration for .NET Framework 4.5 support (END) -->
</configuration>
