<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="BasicAuthenticationModule_Realm" value="phisgtstgpp01.zuelligpharma.com"/>
    <add key="BasicAuthenticationModule_UserFileVpath" value="~/users.xml"/>
    <add key="Inbound_Folder" value ="C:\FTPHome\LocalUsers\HTTP\"/>
    <add key="PrivateKey" value="Gpp!N+3rf@c3"/>
    <!-- DEV-->
    <add key="ConnectionString" value="Persist Security Info=False;User ID=sa;password=ewanko;Initial Catalog=Interface;Data Source=192.168.70.35"/>

    <!-- TEST-->
    <!--<add key="ConnectionString" value="Persist Security Info=False;User ID=sa;password=ewanko;Initial Catalog=Interface;Data Source=172.16.26.35"/>-->
    
    
    <add key="BasicLogs" value="C:\FTPHome\LocalUsers\HTTP\Logs\"/>
    <add key="TurnOffLogs" value="false"/>
  </appSettings>
  <connectionStrings/>

  <system.web>
    <compilation debug="true" />
    <authentication mode="None" />

    <authorization>
      <deny users="?" />
    </authorization>
    <customErrors mode="RemoteOnly"/>

    <httpModules>
      <add name="GPPAuthorization" type="IAPL.Web.Interface.Utility.GPPAuthorization,IAPL.Web.Interface" />
    </httpModules>
  </system.web>

</configuration>
